<% page_header "Dashboard" %>
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3><%= Employee.count %></h3>

        <p>Employee Enrollments</p>
      </div>
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
      <a href="/employees" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3><%= Announcement.count %></h3>

        <p>Announcements</p>
      </div>
      <div class="icon">
        <i class="fa fa-bullhorn"></i>
      </div>
      <a href="/announcements" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= CalendarEvent.count %></h3>

        <p>Events</p>
      </div>
      <div class="icon">
        <i class="fa fa-calendar"></i>
      </div>
      <a href="/calendar" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3><%= inbox_count %></h3>

        <p>Unread messages</p>
      </div>
      <div class="icon">
        <i class="fa fa-inbox"></i>
      </div>
      <a href="/conversations" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</div>
