<h4>Leave a Comment:</h4>
<!-- Comments Form -->
<div class="well">
  <%= render 'announcement_comments/form' %>
    <form role="form">
        <!-- <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div> -->
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>
</div>
